doctype html
html 
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='shortcut icon' type='image/png' href='/img/favicon2.png')

        // og
        meta(name='mobile-web-app-capable' content='yes')
        meta(name='robots' content='follow')
        meta(property='og:site_name' content='Share-Thought')
        meta(property='og:title' content='ShareThought')
        meta(property='og:description' content='A basic text based post sharing website ')
        meta(property='og:image:secure_url' itemprop='image' content='https://share-thought-social.herokuapp.com/img/feature.png')
        meta(property='og:image' itemprop='image' content='https://share-thought-social.herokuapp.com/img/feature.png')
        meta(property='og:type' content='website')
        meta(property='og:image:width' content='400')
        meta(property='og:image:height' content='300')
        // og


        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        title ShareThought | #{title}
        title=title
        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' media="screen and (max-width: 750px)" href='/css/mobile.css')

    body 
        include _header

        div.contentContainer(data-pagename=`${title}`)
            block content 
                h1 This will be replaced by actual content

        include _footer

        div.message
            h1 This will contain some custom message

        script(src='/buildFiles/bundle.js')
