doctype html
html 
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='shortcut icon' type='image/png' href='/img/favicon2.png')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        title ShareThought | #{title}
        title=title
        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' media="screen and (max-width: 750px)" href='/css/mobile.css')

    body 
        include _header

        div.contentContainer(data-pagename=`${title}`)
            block content 
                h1 This will be replaced by actual content

        include _footer

        div.message
            h1 This will contain some custom message

        script(src='/buildFiles/bundle.js')
