extends base

block content 
    div.globalPageContainer
        div.allPosts
        div.writePost
            div.posterForm
                textarea.postContent(type="textarea" placeholder="Post something within 140 letters. Note : Everyone can see what you posted")
                button.postBtn Post

    