extends base

block content 
    form.resetPasswordForm
            h3 Reset Password Form
            input.password(placeholder="Password")
            input.passwordConfirm(placeholder="Confirm Password")
            button.resetPasswordBtn(type="button") Change Password