extends base

block content 
    form.resetPasswordForm
            h3 Reset Password Form
            input.password(type="password" placeholder="Password")
            input.passwordConfirm(type="password" placeholder="Confirm Password")
            button.resetPasswordBtn(type="button") Change Password